body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: slide-in 0.5s ease-out;
}

@keyframes slide-in {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
    animation: underline-anim 1s ease-in-out infinite;
}

@keyframes underline-anim {

    0%,
    100% {
        width: 60px;
    }

    50% {
        width: 80px;
    }
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
    opacity: 0.6;
    transition: width 0.5s ease-in-out;
}

.back-button {
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 20px;
}

.back-button a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

.back-button a:hover {
    color: #888;
}

.box {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: transform 0.5s ease-in-out;
}

.box:hover {
    transform: scale(1.02);
}

.main-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.patient-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

.appointment-date {
    font-size: 18px;
    color: #333;
    text-align: right;
}

.appointment-id,
.booking-date,
.description,
.current-status {
    margin-bottom: 10px;
    transition: opacity 0.3s ease-in-out;
}

.appointment-id span,
.booking-date span,
.description span,
.current-status span {
    font-weight: bold;
}

.vital-info {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.vital-info-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.vital-info-label {
    color: #888;
    font-size: 16px;
}

.vital-info-value {
    font-weight: bold;
    font-size: 16px;
}

.action-box {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 20px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.action-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.action-button:hover {
    background-color: #555;
}

.primary-action {
    background-color: #007bff;
}

.primary-action:hover {
    background-color: #0056b3;
}

.comment-box {
    width: 100%;
    max-width: 400px;
    height: 100px;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 20px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
    background-color: #555;
}

.popup {
    position: fixed;
    top: 100px;
    right: -80px;
    transform: translate(-50%, -50%);
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 9999;
    /* Add a higher z-index value */
}